.read-post-container {
  position: relative;
}

.media-mute-control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000091;
  border-radius: 40px;
  width: 24px;
  height: 24px;
  right: 10px;
  bottom: 10px;
}

.media-mute-control img {
  height: 16px;
  width: 16px;
}

.read-post-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.read-post-user-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.read-post-user-profile {
  width: 42px;
  height: 42px;
}

.read-post-username {
  text-decoration: none;
  color: inherit;
}

.read-post-dots {
  cursor: pointer;
}

.read-post-image-container {
  position: relative;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.read-post-image {
}

.read-post-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-post-actions img {
  cursor: pointer;
}

.read-post-left-action {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.read-post-no-likes {
  padding-top: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

.like-container {
  padding: 10px 0;
  max-height: 380px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.like-container::-webkit-scrollbar {
  display: none;
}

.like-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-user-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.like-user-box img {
  height: 44px;
  width: 44px;
}

.like-user-bio {
  display: flex;
  flex-direction: column;
}

.like-user-bio a {
  color: inherit;

  font-size: 14px;
  font-weight: 600;
}

.like-user-bio label {
  font-size: 14px;
  font-weight: 400;
  color: #747474;
  width: 100%;
}

.read-post-footer-caption {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-bottom: 10px;
}

.read-post-footer-caption a {
  font-weight: 600;
}

.read-post-user-header-bio {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.read-post-user-header-bio a {
  font-weight: 600;
  font-size: 16px;
}

.read-post-user-header-bio label {
  font-size: 14px;
  font-weight: 400;
  color: #747474;
}
